
.stat-time{
	color: white;
	margin: 20px 0;
	text-align: center;
	font-size: 2rem;
}


.main-container__stats--intro{
	font-family: 'arial', sans-serif;
	padding: 20px;
}

.main-container__stats--intro h2{
	color: white;
	font-size: 2rem;
}

.main-container__stats p{
	padding: 5px;
	font-family: 'verdana',sans-serif;
	font-weight: bold;
	font-size: 15px;

}


.main-container__stats--stats div{
	display: inline-block;
	width: 30%;
}

.main-container__stats--stats p{
	font-size: 10px;
}


.main-container__stats--stats div{
	padding-top: 10px;
}

.main-container__stats--stats .text{
	font-size: 1.2rem;
}

.main-container__stats--stats .number{
	font-size: 3rem;
	padding: 0 20px;
}

.main-container__stats--stats-confirmedcases .number{
	color: white;
}

.main-container__stats--stats-deceased .number{
	color: red;
}

.main-container__stats--stats-serious .number{
	color: yellow;
}

.main-container__stats--stats-recovered .number{
	color: lightgreen;


}







@media only screen and (max-width: 1024px){

	.main-container__stats--stats div{
		width: 100%;
		display: block;
		
	}

	




}

@media only screen and (max-width: 600px){
	section.table{
		display: none;
	}
}










/*Table*/


.main-container__stats-wilaya{
	width: 100%;
	text-align: center;
}

.main-container__stats-wilaya-filter{
	padding: 20px;
}

.main-container__stats-wilaya-filter label{
	font-size: 1rem;
	font-family: Arial, sans-serif;
	font-weight: lighter;
	color: white;
	padding: 5px;
}

.main-container__stats-wilaya-filter input{
	width: 150px;
}

.main-container__stats-wilaya-filter button{
	margin: 0 5px;
	color: black;
	background: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.main-container__stats-wilaya-filter button:active{
	background-color: none;
}

.main-container__stats-wilaya-filter button:focus{
	outline: none;
}

.main-container__stats-wilaya__table{
	width: 90%;
	margin: auto;
}


.td-element{
	border-bottom: 1px solid gray;
	color:white;
}
.wilaya__header--element{
	width: 12.5%;
	padding: 5px 0;
	font-size: 1rem;
	color: rgb(146, 156, 31);
}
.fr-case{
	color: rgb(129, 129, 129);
	text-align: left;
}






