*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


a, ul, li, button{
	list-style: none;
	font-style: none;
	text-decoration: none;
	display: inline-block;
}


.main-navbar{
	background-color: #292929;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.main-navbar__logo{
	height: 50px;
}


.main-navbar nav ul{
	padding: 20px;
}

.main-navbar nav ul li{
	padding: 0px 10px;
	font-size: 18px;
}
.main-navbar nav ul li a:hover{
	color: lightgray;
}

.main-navbar nav ul li a{
	color: white;
	font-family: 'arial', sans-serif;
	font-weight: bold;
}



.main-navbar__donate{
	text-align: center;
	padding: 10px;
	background: #E02828;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	color: white;
}

.main-navbar__donate--coin{
	height: 20px;
}


.sandwish{
	display: none;
}


body{
	background: #5A5657;
	font-family: 'Oswald', sans-serif;

}

.main-container{
	color: #DBDBEB;
	margin: 2% 3%;
	text-align: center;
	background-color: #292929;
	padding-bottom: 30px;
	border-radius: 10px;
}



.mobile-navbar{
	display: none;
}




.main-navbar__logo{
	height: 35px;
	vertical-align: bottom;
	justify-content: space-between;
}



.sandwish{
	display: none;
	width: 40px;
	background: transparent;
	border: none;
	margin-bottom: 15px;
}

.sandwish div{
	margin: 4px 0;
	width: 100%;
	height: 5px;
	background-color: white;
	border-radius: 10px;
}



.mobile-navbar__list ul{
	width: 100%;
}


.mobile-navbar__list li{
	display: block;
	height: 55px;
	font-size: 1.5rem;
	background: #292929;
	text-align: center;
}


.mobile-navbar__list li a{
	color: white;
	vertical-align: middle;
}


#mobile-navbar__donate{
	background: #E02828;
}































@media only screen and (max-width: 1024px){
	nav{
		display: none;
	}

	.main-navbar__donate{
		display: none;
	}
	
	.sandwish{
		display: block;
	}

	
	
}














