p{
	font-size: 15px;
	font-family: 'helvetica', sans-serif;
	font-size: 26px;
	color: white;
}

li{
	font-size: 15px;
	font-family: 'helvetica', sans-serif;
}
svg{
	display: inline-block;
}


h2{
	font-size: 2rem;
}

.main-container{
	padding: 50px;
}

.main-container__wikititle{
	
	padding: 20px;
	vertical-align: middle;
}


.main-container__wikititle h1{
	color: white;
	display: inline-block;
	font-size: 2.8rem;
}



.main-container__wikititle p{
	display: block;
	font-family: 'verdana', sans-serif;
	font-size: 1rem;
}


.main-container__whatsiscovid div{
	padding-top: 25px;
}


.main-container__whatsiscovid--title{
	padding: 20px;
	vertical-align: middle;
}

.main-container__whatsiscovid--title h2{
	display: inline-block;
}

.main-container__whatsiscovid--title svg{
	vertical-align: bottom;
}



.main-container__whatsiscovid--list{
	padding: 50px;
	text-align: left;
}

.main-container__whatsiscovid--list li{
	font-size: 26px;
	color: white;
	list-style: decimal;
	display: list-item;
	padding:5px 0;
}




.main-container__whatsiscovid--appearance p{
	padding: 5px;
}
.main-container__whatsiscovid--appearance img{
	padding: 5px;
	width: 45%;
	vertical-align: middle;
}



.main-container__whatsiscovid--question-2--tip h3{
	text-align: left;
	font-size: 2rem;
	text-indent: 1rem;
}


.main-container__whatsiscovid--question-2--tip-3 h3{
	padding-bottom: 20px; 
}


.main-container__whatsiscovid--question-2--tip-3 p{
	text-align: left;
	color: white;
	padding-left: 30px;
}

.main-container__whatsiscovid--question-2--tip-3 ul li{
	background: white;
	color: black;
	display: list-item;
	text-align: left;
	font-size: 2rem;
	padding: 20px;

}



.reference h3{
	padding-bottom: 20px;
}

.reference p a{
	font-weight: bold;
	font-size: 1rem;
	color: white;
}















@media only screen and (max-width: 1024px){

	.main-container{
		padding: 20px;
	}

	.main-container__whatsiscovid--list{
		padding: 30px;
	}

	.main-container__whatsiscovid--list li{
		text-align: center;
		font-size: 1.5rem;
		padding-top: 10px;
	}


	.main-container__whatsiscovid--question div{
		text-align: center;
	}
	.main-container__whatsiscovid--question li{
	
		font-size: 1.5rem;
	}

	.main-container__whatsiscovid--question-2 div h3{
		text-align: center;
	}

	.main-container__whatsiscovid--question-2--tip-3 ul{
		padding-top: 20px;
	}

	.main-container__whatsiscovid--question-2--tip-3 ul li{

		font-size: 1.6rem;

	}
}


